@layer base {
  body,
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 14px;
    overflow-x: hidden;
    font-family: verdana, aerial, serif;
  }

  ::selection {
    color: aliceblue;
    background-color: rgb(61, 220, 151);
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #c82f57;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
